@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Rounded address and search bars */
#urlbar, #urlbar-background, #urlbar-input-container, #urlbar-container {
	border-radius: calc(var(--urlbar-container-height) / 2) !important;
}
#urlbar-input-container > box[role="button"]:focus-within {
	outline-offset: -6px;
}
#searchbar {
	border-radius: 15px !important;
}
